%div{:class => "row" }
  %div{:class => "span10" }
    %h2
      #{@infos[0][:nodename]}

    %h3
      Various informations
    %div
      %strong
        Latest run : 
      #{@infos[0][:start_time]}
    %div
      %strong
        Last run changes :
      - if @infos[0][:updated_resources].empty? then
      %span{:class => "notice label"} No resources updated
      - else
        %span
        %ul
          - @infos[0][:updated_resources].each do |res|
            %li
              #{res}

    %div
      %strong
        Short history (10 latest runs) :
      %ul
      - for i in 0..9 do
        - if @infos[i][:start_time] then
          %li
            #{@infos[i][:start_time]} |
            - |
            %a{:href => "/run/#{@infos[i][:id]}"}
              summary
