- @latest.each do |run|
- run_id = run[:id]
  %div{:id => run_id, :class => "modal hide fade"}
    %div{:class => "modal-header"}
      %h3 Details for #{run[:nodename]}
    %div{:class => "modal-body"}
      %h4 
        Modified resources :
        %p
        - if run[:updated_resources].empty? then
          No resources updated
        - else
        - run[:updated_resources].each do |resource|
          %li
            #{resource}
      %h4
        Run duration : #{run[:elapsed_time]}s
    %div{:class => "modal-footer"}
      %a{:href => "#", :class => "btn alert close"} OK

%div{:class => "content"}
  %div{:class => "row"}
    %div{:class => "span10"}
      %h2
        Latest runs
      - @latest.each do |run|
        - run_id = run[:id]
        - nodename = run[:nodename]
        - ago = (Time.now.to_i - (Time.parse(run[:end_time])).to_i) / 60
        %li
          #{nodename} (#{ago} minutes ago) - |
          %a{:"data-controls-modal" => run_id, :"data-backdrop" => "true", :"data-keyboard" => "true", :class => "danger", :href => "#"} details

    %div{:class => "span4"}
      %h3
        Various statistics
      %li foo
      %li bar
      %li baz
